<div class="row">
    <div class="col s12 m6">
        <div class="card large">
            <a href="www.programistkaikot.pl">
                <img class="img-portfolio img-responsive" src="assets/images/programistka_i_kot.png">
            </a>          
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card large">
            <a href="www.programistkaikot.pl">
                <img class="img-portfolio img-responsive" src="assets/images/programistka_i_kot.png">
            </a>          
        </div>
    </div>
</div>
